.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);

  &__search {

  }

  &__search-form {
    @include size(500px, null);
  }

  &__search-input {
    @include size(400px, 40px);
    margin-right: -4px;
    border: none;
    outline: none;
    border-radius: 9999px 0 0 9999px;
    background: #fff;
  }

  &__search-button {
    @include size(100px, 40px);
    border: none;
    outline: none;
    border-radius: 0 9999px 9999px 0;
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    color: #fff;
    font-weight: bold;
  }
}
